.nav-tabs {
  border: none;
  background: transparent;
  border-radius: 16px;
  overflow: hidden;
  display: auto;
  margin-bottom: 24px;
  cursor: pointer;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  border: none;
  background-color: #8DD7D1;
  color: white;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 0;
  text-align: center;
  transition: background-color 0.3s ease;
}

.nav-tabs .nav-link:hover {
  border: none;
  background-color: #7ACCC5;
}

.nav-tabs .nav-link.active {
  background-color: #1BB6C1;
  color: white;
  font-weight: 600;
  border: none;
}


.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}