<!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Materi yang dipelajari</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Materi yang diselesaikan</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-material-studied>

        </app-material-studied>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-material-finished>

        </app-material-finished>
    </div>
</div> -->

<ul class="nav nav-tabs" id="materialTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="learning-tab" data-bs-toggle="tab" data-bs-target="#learning" 
            type="button" role="tab" aria-controls="learning" aria-selected="true">
      Materi yang dipelajari
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" 
            type="button" role="tab" aria-controls="completed" aria-selected="false">
      Materi yang diselesaikan
    </button>
  </li>
</ul>

<div class="tab-content" id="materialTabsContent">
  <div class="tab-pane fade show active" id="learning" role="tabpanel" aria-labelledby="learning-tab">
    <app-material-studied>

    </app-material-studied>
  </div>
  <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
    <app-material-finished>

    </app-material-finished>
  </div>
</div>