<div class="container-fluid mt-4">
<h2 class="fw-bold mb-4" style="font-size: 24px; ">Buatkan akun siswa</h2>

<div class="form-container p-4 p-md-5">
    <form>
    <div class="mb-3">
      <label>Nama Lengkap <span class="text-danger">*</span></label>
      <input type="text" class="form-control" required [(ngModel)]="fullName" name="fullName" />
    </div>

    <div class="mb-3">
      <label>Username <span class="text-danger">*</span></label>
      <input type="text" class="form-control" required [(ngModel)]="username" name="username" />
    </div>

    <div class="mb-3 position-relative">
      <label>Password <span class="text-danger">*</span></label>
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        class="form-control"
        required
        [(ngModel)]="password"
        name="password"
      />
      <fa-icon
        [icon]="passwordVisible ? faEyeSlash : faEye"
        class="toggle-password-icon"
        (click)="togglePasswordVisibility()"
      ></fa-icon>
    </div>

    <div class="mb-3 position-relative">
      <label>Konfirmasi password <span class="text-danger">*</span></label>
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        class="form-control"
        required
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
      />
      <fa-icon
        [icon]="confirmPasswordVisible ? faEyeSlash : faEye"
        class="toggle-password-icon"
        (click)="toggleConfirmPasswordVisibility()"
      ></fa-icon>
    </div>

    <div class="d-flex gap-2">
      <div class="mb-3 flex-fill">
        <label>Sekolah <span class="text-danger">*</span></label>

        <ngx-select
        [items]="schools"
        placeholder="Pilih sekolah"
        optionValueField="id"
        optionTextField="nama_sekolah"
        [allowClear]="false"
        >
        </ngx-select>

      </div>
      <div class="mb-3 flex-fill">
        <label>Kelas <span class="text-danger">*</span></label>

        <ngx-select
        [items]="classes"
        placeholder="Pilih kelas"
        optionValueField="id"
        optionTextField="nama_kelas"
        [allowClear]="false"
        >
        </ngx-select>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4 px-3 gap-3">
    <button class="btn btn-outline-primary btn-rounded" (click)="onCancelClicked()">
      Batal
    </button>
    <button class="btn btn-primary btn-rounded" (click)="onSubmitClicked()">
      Buat akun
    </button>
  </div>
  </form>
</div>
</div>