<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler d-lg-none me-2" 
            type="button" 
            (click)="toggleMobileSidebar($event)"
            [attr.aria-expanded]="false"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand logo-literadoo me-auto" routerLink="/">
      Literadoo
    </a>

    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle-custom p-0 border-0 bg-transparent" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
        <fa-icon [icon]="faUserCircle" class="fa-2x user-icon"></fa-icon>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" (click)="goToProfile($event)">Lihat Profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item logout-item" (click)="logout($event)">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>