<div class="modal-header">
  <h5 class="modal-title">Daftar sebagai siswa</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.hide()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
    <div class="mb-3">
      <label>Nama Lengkap <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="nama_lengkap" />
    </div>

    <div class="mb-3">
      <label>Username <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="username" />
    </div>

    <div class="mb-3 position-relative">
      <label>Password <span class="text-danger">*</span></label>
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        class="form-control"
        formControlName="password"
      />
      <fa-icon
        [icon]="passwordVisible ? faEyeSlash : faEye"
        class="toggle-password-icon"
        (click)="togglePasswordVisibility()"
      ></fa-icon>
    </div>

    <div class="mb-3 position-relative">
      <label>Konfirmasi Password <span class="text-danger">*</span></label>
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        class="form-control"
        formControlName="konfirmasi_password"
      />
      <fa-icon
        [icon]="confirmPasswordVisible ? faEyeSlash : faEye"
        class="toggle-password-icon"
        (click)="toggleConfirmPasswordVisibility()"
      ></fa-icon>
    </div>

    <div class="mb-3 flex-fill">
      <label>Sekolah <span class="text-danger">*</span></label>
      <ngx-select
        formControlName="sekolah"
        [items]="schools"
        optionValueField="_id"
        optionTextField="nama"
        placeholder="Pilih sekolah"
        [allowClear]="false"
      ></ngx-select>
    </div>

    <div class="mb-3 flex-fill">
      <label>Kelas <span class="text-danger">*</span></label>
      <ngx-select
        formControlName="kelas"
        [items]="classes"
        optionValueField="_id"
        optionTextField="nama_kelas"
        placeholder="Pilih kelas"
        [allowClear]="false"
      ></ngx-select>
    </div>

    <small *ngIf="errorMsg" class="text-danger d-block mb-2">{{ errorMsg }}</small>

    <button type="submit" class="btn btn-primary-custom w-100" [disabled]="registerForm.invalid || loading">
      {{ loading ? 'Mendaftar...' : 'Daftar' }}
    </button>
  </form>
</div>
