<div class="container-fluid mt-4 custom-materi-container">
  <h2 class="fw-bold mb-4" style="font-size: 24px;">Lihat hasil belajar</h2>
 
    <div class="d-flex justify-content-end align-items-center mb-3">
    <div class="search-bar d-flex align-items-center">
      <input 
        #searchInput
        type="text"
        class="form-control rounded-pill me-2"
        placeholder="Cari"
        [(ngModel)]="keyword"
        (keydown.enter)="onSearch()"
        style="width: 230px;" />

      <span class="search-icon" (click)="onSearch()">
        <i class="fa fa-search"></i>
      </span>
    </div>
    </div>

  <!-- Students table -->
  <div class="table-responsive">
    <table class="table align-middle table-bordered text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th>Kelas</th>
          <th>Jumlah siswa</th>
          <th>Materi tertaut</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kelas of filteredKelas; let i = index">
          <td>{{ i + 1 }}.</td>
          <td>{{ kelas.nama }}</td>
          <td>{{ kelas.jumlah_siswa}}</td>
          <td>{{ kelas.jumlah_materi }}</td>
          <td class="aksi-cell">
            <a [routerLink]="['/guru/hasil-belajar/detail-hasil-belajar']"(click)="lihatKelas(kelas); $event.preventDefault()">Lihat detail</a>
            <span class="aksi-separator"></span>
          </td>
        </tr>
        <tr *ngIf="filteredKelas.length === 0">
          <td colspan="3" class="text-center text-secondary py-4">Data tidak ditemukan.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>